* {
    margin: 0;
    padding: 0;
    font-family: "Gluten", cursive;
}

/* .gluten-<uniquifier> {
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
   */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --cs-primary: #001C1B;
    --cs-cardbg: #A7D8D7;
    --cs-text: #ffffff;
    --cs-pink: #D81652;
    --cs-orange: #FF9D00;
    --cs-green: #3C9223;
    --cs-red: #FF5546;
    --cs-lightblue: #70E6FD;
    --cs-violet: #FF52EB;
    --cs-yellow: #FFFA7A;

}

h1 {
    font-size: 88px;
    font-weight: 600;
    line-height: 77.66px;
    background: rgb(255, 157, 45);
    background: linear-gradient(90deg, rgba(255, 157, 45, 1) 0%, rgba(255, 65, 96, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 72px;
    font-weight: 600;
    /* line-height: 77.66px; */
    color: var(--cs-text);
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 35.3px;
}

h4 {
    font-size: 64px;
    font-weight: 700;
    /* line-height: 56.48px; */
    letter-spacing: -2px;
}

h5 {
    color: var(--cs-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 27.43px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cs-text);
}

.cp60 {
    padding: 60px 15px;
}

/* header starts -------------------------*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    padding: 0px 15px;
}

.nav-item a {
    font-weight: 500;
    font-size: 20px;
    color: var(--cs-text);
}

.navbar-nav .nav-item.active .nav-link {
    color: var(--cs-orange);
}

.nav-link:hover {
    color: var(--cs-orange) !important;
}

.navbar-toggler i {
    color: var(--cs-text);
    background-color: var(--cs-orange);
    padding: 10px;
    border-radius: 10px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.cta-menu {
    display: none;
}

.btn_cta {
    padding: 12px 50px;
    border: 4px solid #614A59;
    border-radius: 40px;
    background: rgb(255, 157, 45);
    background: linear-gradient(90deg, rgba(255, 157, 45, 1) 0%, rgba(255, 65, 96, 1) 100%);
    color: var(--cs-text);
    transition: .4s all ease-in-out, .4s all ease-in-out;
}

.btn_cta:hover {
    color: var(--cs-text);
    border: 4px solid #614A59;
    background: rgb(255, 65, 96);
    background: linear-gradient(90deg, rgba(255, 65, 96, 1) 0%, rgba(255, 157, 45, 1) 100%);
}

/* header ends -------------------------*/

/* banner starts----------------------- */
.banner {
    background: url(../images/banner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    padding: 120px 15px 0 15px;
}

.banner .row {
    min-height: 100vh;
    align-items: end;
}

.banner_content {
    text-align: center;
    display: grid;
    gap: 25px;
    margin-bottom: 20px;
}

.banner_content h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 42.36px;
    background: rgb(255, 157, 45);
    background: linear-gradient(90deg, rgba(255, 157, 45, 1) 0%, rgba(255, 65, 96, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_content p {
    width: 55%;
    margin: auto;
}

.banner_image {
    /* text-align: center; */
    margin-left: 9%;
    margin-right: 9%;
    position: relative;
}

.banner_image img {
    position: relative;
    z-index: 10;
}

.banner_gif img {
    position: absolute;
    /* top: 46%;
    left: 17%; */
    margin-top: -30%;
    margin-left: 15%;
    transform: rotate(-105deg);
    z-index: 1;
    width: 27%;
}

.horz-move {
    -webkit-animation: rocketanimation 5s infinite alternate;
    animation: rocketanimation 5s infinite alternate;
}

@keyframes rocketanimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

/* banner ends----------------------- */

/* Partner starts----------------------- */
.contain_div {
    background: url(../images/background.png), url(../images/background.png), url(../images/background.png);
    background-color: var(--cs-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.partner .row {
    width: 85%;
    margin: auto;
}

.partner_card img {
    width: 100%;
    margin: 15px 0px;
}

/* Partner ends----------------------- */

/* press starts------------------------ */
.press .row {
    width: 85%;
    margin: auto;
}

.press_title {
    margin-bottom: 90px;
    position: relative;
    z-index: 10;
}

.box {
    margin: 15px 0px;
    background: rgba(185, 237, 235, 0.9);
    padding: 15px 30px;
    border: 0.82px solid #9BF2FC;
    box-shadow: 0px 5.73707px 25.2431px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2.45874px);
    border-radius: 15.736px;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 121px;
}

.avatar {
    position: relative;
}

.avatar img {

    position: absolute;

    top: -130px;

    left: -6%;
}

/* press ends------------------------ */

/* tokenomics starts------------------------ */
.tokenomics .row {
    align-items: center;
}

.token_text {
    display: grid;
    gap: 25px;
}

.tt1 {
    color: var(--cs-pink);
}

.tt2 {
    color: var(--cs-orange);
}

.tt3 {
    color: var(--cs-green);
}

/* tokenomics ends------------------------ */

/* roadmap starts---------------------- */
.vert-move {
    -webkit-animation: floating 1s infinite alternate;
    animation: floating 1s infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.phase1 {
    color: #FF5546;
}

.phase_card {
    margin: 80px 0px;
}

.phase1 {
    text-align: end;
}

.phase1 ul li {
    list-style: none;
    color: #FEB6B0;
    text-align: left;
    font-family: "Lilita One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.43px;
}

.phase2 {
    color: var(--cs-lightblue);
}

.phase2 ul li {
    color: var(--cs-lightblue);
}

.phase3 {
    color: var(--cs-violet);
}

.phase3 ul li {
    color: #FDB9F5;
}

.phase4 {
    color: var(--cs-yellow);
}

.phase4 ul li {
    color: #FFFDC4;
}

/* roadmap ends--------------------- */

/* faq starts--------------------- */
.accordion-button:not(.collapsed) {
    box-shadow: none;
    color: var(--cs-text);
}

.accordion-item {
    background: transparent !important;
    border: none !important;
    padding-bottom: 30px;
}

.accordion-button {
    background: transparent !important;
    border: none !important;
}

.accordion-header button {
    font-size: 40px !important;
    font-weight: 700;
    line-height: 35.3px;
    color: var(--cs-orange);
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion {
    --bs-accordion-btn-icon-width: 2.25rem;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='54px' height='44px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:0.966' fill='%23e59438' d='M 22.5,-0.5 C 24.8333,-0.5 27.1667,-0.5 29.5,-0.5C 30.6883,0.363622 31.8549,1.36362 33,2.5C 33.8362,6.37339 34.6695,10.2067 35.5,14C 40.5721,14.6784 45.5721,15.6784 50.5,17C 51.6364,18.1451 52.6364,19.3117 53.5,20.5C 53.5,21.5 53.5,22.5 53.5,23.5C 52.5732,25.5762 50.9065,26.7428 48.5,27C 44.2054,27.9119 39.8721,28.5785 35.5,29C 33.8766,32.6031 32.7099,36.4365 32,40.5C 30.8549,41.6364 29.6883,42.6364 28.5,43.5C 26.8333,43.5 25.1667,43.5 23.5,43.5C 22.1639,41.9897 20.9973,40.3231 20,38.5C 19.6676,35.4937 18.8343,32.6604 17.5,30C 13.2841,28.7964 8.9508,28.1298 4.5,28C 2.54826,27.6339 0.88159,26.8005 -0.5,25.5C -0.5,23.5 -0.5,21.5 -0.5,19.5C 0.626561,18.8783 1.62656,18.045 2.5,17C 7.63714,16.2373 12.6371,15.0706 17.5,13.5C 17.7136,8.22752 19.3803,3.56086 22.5,-0.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='61px' height='19px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:0.952' fill='%23fefffe' d='M 60.5,7.5 C 60.5,8.83333 60.5,10.1667 60.5,11.5C 57.7446,14.8781 54.078,16.7114 49.5,17C 36.1667,17.6667 22.8333,17.6667 9.5,17C 5.76419,16.297 2.43086,14.797 -0.5,12.5C -0.5,10.5 -0.5,8.5 -0.5,6.5C 1.81045,3.09473 5.14379,1.2614 9.5,1C 24.5464,0.0845441 39.5464,0.417877 54.5,2C 57.0226,3.35968 59.0226,5.19301 60.5,7.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* faq ends==================== */

/* footer */
.footer {
    background-color: #000F0F;
    padding-top: 20px;
}

.footer_content {
    text-align: center;
    display: grid;
    gap: 25px;
}

.footer_content a h5:hover {
    color: var(--cs-orange);
}

.footer_content img {
    margin: auto;
}

.social_icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.social_icon li:hover {
    transform: scale(1.2);
}

.footer_images {
    text-align: end;
}

/* footer ends */